#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}

.text-input {
  resize: none;
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 720px;
}

.result {
  color: #42a5f5;
  max-width: 720px;
  white-space: pre-wrap;
  text-align: start;
  overflow-wrap: break-word;
}
